.sidebar{
    height:100vh;
    flex:0.2;
    color:white;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 230px;
    height:100vh;
    background-color: #040404;
}

.logo{
    height:70px;
    width:100%;
    object-fit: contain;
}

.sidebar > hr{
border:1px solid #282828;
width:90%;
margin:10px auto;
}

.sidebar_title{
    margin-left: 10px;
    padding:5px;
    font-size:12px;
    
}

.sidebar > p{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 15px;
}